<!DOCTYPE html>
<html>
<body>

    <table>
    <!-- Addition -->
  <tr>  <label>Addition:</label><br />  </tr>
    <!-- First input -->
    <tr><td><input type="text" size="4" pattern="^[+-]*[0-9]*[\.]?[0-9]*$"
           [(ngModel)]="addition1" name="add1" #add1="ngModel"></td>
    <!-- Operator -->
    <td>+</td>
    <!-- Second input -->
  <td>  <input type="text" pattern="^[+-]*[0-9]*[\.]?[0-9]*$"
           [(ngModel)]="addition2" size="4" name="add2" #add2="ngModel"></td>
    <!-- Equals button -->
    <td><input type="submit"
           value="=" (click)="doAddition()" [disabled]="!add1.valid||!add2.valid||add1.pristine||add2.pristine"></td>
    <!-- Output -->
    {{AdditionResult}}<br />
  </tr>
    <!-- Show validation for Addition -->
    <label *ngIf="add1?.errors?.pattern">A valid number is required in the
                                         first field.</label>
    <label *ngIf="add2?.errors?.pattern">A valid number is required in the
                                         second field.</label>


    <!-- Subtraction -->
  <tr>    <label>Difference:</label><br /></tr>
    <!-- First input -->
    <tr><td><input type="text" size="4" pattern="^[+-]*[0-9]*[\.]?[0-9]*$"
           [(ngModel)]="subtract1" name="sub1" #sub1="ngModel"></td>
    <!-- Operator -->
    <td>-</td>
    <!-- Second input -->
    <td><input type="text" pattern="^[+-]*[0-9]*[\.]?[0-9]*$"
           [(ngModel)]="subtract2" size="4" name="sub2" #sub2="ngModel"></td>
    <!-- Equals button -->
    <td><input type="submit"
           value="=" (click)="doSubtraction()" [disabled]="!sub1.valid||!sub2.valid||sub1.pristine||sub2.pristine"></td>
    <!-- Output -->
    {{subtractResult}}<br />
  </tr>
    <!-- Show validation for subtraction -->
    <label *ngIf="sub1?.errors?.pattern">A valid number is required in the
                                         first field.</label>
    <label *ngIf="sub2?.errors?.pattern">A valid number is required in the
                                         second field.</label>



        <!-- Multiplication -->
    <tr><label>Multiplication:</label><br /></tr>
    <!-- First input -->
    <tr><td><input type="text" size="4" pattern="^[+-]*[0-9]*[\.]?[0-9]*$"
           [(ngModel)]="multiply1" name="mul1" #mul1="ngModel"></td>
    <!-- Operator -->
    <td>*</td>
    <!-- Second input -->
    <td><input type="text" pattern="^[+-]*[0-9]*[\.]?[0-9]*$"
           [(ngModel)]="multiply2" size="4" name="mul2" #mul2="ngModel"></td>
    <!-- Equals button -->
    <td><input type="submit"
           value="=" (click)="doMultiplication()" [disabled]="!mul1.valid||!mul2.valid||mul1.pristine||mul2.pristine"></td>
    <!-- Output -->
    {{MultiplyResult}}<br />
    <!-- Show validation for multiplication -->
  </tr>
    <label *ngIf="mul1?.errors?.pattern">A valid number is required in the
                                         first field.</label>
    <label *ngIf="mul2?.errors?.pattern">A valid number is required in the
                                         second field.</label>





              <!-- Division -->
    <tr><label>Division:</label><br /></tr>
    <!-- First input -->
    <tr><td><input type="text" size="4" pattern="^[+-]*[0-9]*[\.]?[0-9]*$"
           [(ngModel)]="divide1" name="div1" #div1="ngModel"></td>
    <!-- Operator -->
    <td >/</td>
    <!-- Second input -->
    <td><input type="text" pattern="^[+-]*[0-9]*[\.]?[0-9]*$"
           [(ngModel)]="divide2" size="4" name="div2" #div2="ngModel"></td>
    <!-- Equals button -->
    <td><input type="submit"
           value="=" (click)="doDivision()" [disabled]="!div1.valid||!div2.valid||div1.pristine||div2.pristine"></td>
    <!-- Output -->
    {{DivideResult}}<br />
    <!-- Show validation for Division -->
  </tr>
    <label *ngIf="div1?.errors?.pattern">A valid number is required in the
                                         first field.</label>
    <label *ngIf="div2?.errors?.pattern">A valid number is required in the
                                         second field.</label>

</table>
</body>
</html>
